*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', ;
}
.contenedor{
     padding: 60px 0;
     width: 90%;
     max-width: 1000px;
     margin: auto;
     overflow: hidden;

}

.titulo{
    color:gray;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    width: 100%;
    height: 800px;
    background: #C6FFDD;  
background: -webkit-linear-gradient(to right, hsla(358, 89%, 72%, 0.648), #fbd88678, #c6ffdd88), url(torta3.jpg); 
background: linear-gradient(to right, hsla(358, 89%, 72%, 0.635), #fbd88678, #c6ffdd88), url(torta3.jpg); 
background-size:cover;
background-attachment: fixed;
position: relative;

}

nav{
    font-size: 25px;
    text-align: right;
    padding: 30px 50px 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav > a{
    color: rgb(39, 38, 38);
    font-weight: 300;
    text-decoration: none;
    margin-right: 26px;
}
nav > a:hover{
    color: rgb(155, 121, 35);
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    font-size: 55px;
    color: rgb(39, 38, 38);
   
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: rgb(52, 51, 51);
   
}


.ola{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;

}

.imagen-about-us{
    width: 40%;
}

.sobre-nosotros .contenidos-textos{
    width: 40%;
    margin-left: 5px;
}

.contenidos-textos h3{
    margin-bottom: 15px;
    margin-left: 10px;
}
.contenidos-textos h3 span{
    background: rgb(235, 74, 162);
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}
.contenidos-textos p{
    padding: 0 0 35px 15px;
    font-weight: 300;
    text-align: justify;

}

.about-services{
    background: #f2f2f2;
    padding: bottom 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;

}
.servicio-ind img{
    width: 90%;
}
.servicio-ind h3{
    margin: 10px 0;
}
.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;

}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: white;
    border-bottom: 3px solid #C6FFDD;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo a{
        color: white;
        text-decoration: none;
        border-bottom: 3px solid #C6FFDD;
        padding-bottom: 5px;
        margin-bottom: 10px;    
}
.content-foo p a{
    color: aquamarine;
    border-bottom: none;
    width: 15px;
}
.redes p{
    display:grid;
    width: 100%;
    font-size: 40px;
    justify-content:center;
    margin: auto;


}
      

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

.escalar:hover{
    transform: scale(1.3);
  }

@media(max-width: 900px){
header{
   background-position: center;
}
.contenedor-sobre-nosotros{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen-about-us{
    width: 50%;
}
.sobre-nosotros .contenidos-textos{
    width: 90%;
}
}

@media(max-width: 700px){
nav{
    font-size: 23px;
    text-align:center;
    display: grid; 
    padding: 30px 0 20px 20px;
    }
    .content-foo a{
        color: white;
        text-decoration: none;
        border-bottom: none;
        padding-bottom: 5px;
        margin-bottom: 10px;    

    }
    .content-foo h4{
        color: white;
        text-decoration: none;
        border-bottom: none;
}
}

@media(max-width: 515px){

.contenedor-footer {
    flex-direction: column;
    border: none;
}
.content-foo {
    margin-bottom: 20px;
    text-align: center;
}
.content-foo h4{
    border: none;
}
.content-foo p{
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
}
.content-foo a{
    border: none;
}
}
@media(max-width: 250px){
nav{
    font-size: 15px;
    text-align:left;
    display: grid; 
    padding: 30px 0 20px 20px;
}

.textos-header h1{
    font-size: 35px;
   color: rgb(239, 205, 116);
}
.textos-header h2{
    font-size: 22px;
   color: rgb(14, 13, 11);
    font-family: cursive;
}
.imagen-about-us{
    width: 60%;
}
.titulo-final{
    font-size: 20px;
}
}

            